#footer {
    background: #008dd1;
    padding: 40px 0;
    display: flex;
    .lista-footer{
        color: #fff;
        align-items: center;
        display: flex;
    }
    .redes-sociais {
        ul {
            text-align: right;
            li {
                display: inline-block;
                margin-left: 10px;
                font-size: 30px;
            }
        }
    }
}