#presentation {
    background: #03324a;
    padding: 180px 0 190px;
    .title {
        h2 {
            color: #fff;
            text-align: center;
            font-family: Myriad Pro;
            font-size: 60px;
            font-weight: bold;
        }
    }
}