#widgets-box {
    padding: 60px 0;
    color: #fff;
    .lef {
        background: #008dd1;
        padding: 100px 85px;
         
    }
    .center {
        background: #008dd1;
        padding: 100px 85px;
    }
    .right {
        background: #008dd1;
        padding: 100px 85px;
    }
}