#slideshow {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(129deg, #2cadfe 0%, #f514fb 100%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9;
    border: 1px solid #979797;
  }
  .carousel {
      position: relative;
      margin: -5px;
        .item {
            figure {
                .carousel-img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                figcaption {
                  position: absolute;
                  top: 30%;
                  max-width: 622px;
                  z-index: 10;
                    .title-main {
                        text-align: left;
                        h1 {
                          color: #ffffff;
                          font-family: Roboto;
                          font-size: 38px;
                          font-weight: 700;
                          letter-spacing: 1px;
                          padding-bottom: 10px;
                        }
                    }
                    .sub-title {
                        font-size: 20px;
                        color: #fff;
                        text-align: left;
                        h2 {
                          font-family: Roboto;
                          font-size: 23px;
                          font-weight: 400;
                          letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}