//medidas
$container: 1230px;
$gap: 15px;
$gridsize: 12;
$breakpoints: ("lg": 1170px, "md": 979px, "sm": 767px, "xs": 380px);

//backgrounds

//cores

$background-black: #292929;
$white: #fff;
$black:#000;

//fonts

$font: "'Roboto', sans-serif;";

//font-size
